apiVersion: apps/v1
kind: Deployment
metadata:
  name: techtrends
  namespace: {{.Values.namespace.name}}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: techtrends  
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: techtrends
    spec:
      imagePullSecrets: [{name:eyJhdXRocyI6eyJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOnsidXNlcm5hbWUiOiIwOTA2Nzg0NDgwIiwicGFzc3dvcmQiOiJASG5hazQ3MzcjIiwiZW1haWwiOiJob2FuZy5raG9hODhAZ21haWwuY29tIiwiYXV0aCI6Ik1Ea3dOamM0TkRRNE1EcEFTRzVoYXpRM016Y2oifX19}]
      containers:
      - image: {{.Values.image.repository}}:{{.Values.image.tag}}
        imagePullPolicy: {{.Values.image.pullPolicy}}
        name: techtrends
        resources:
          requests:
            cpu: {{.Values.resources.request.CPU}}
            memory: {{.Values.resources.request.memory}}
          limits:
            cpu: {{.Values.resources.limits.CPU}}
            memory: {{.Values.resources.limits.memory}}
        ports:
        - containerPort: {{.Values.containerPort}}
        readinessProbe:
          httpGet:
            path: {{.Values.livenessProbe.path}}
            port: 3111
        livenessProbe:
          httpGet:
            path: {{.Values.readinessProbe.path}}
            port: 3111
