namespace:
  name: prod
 
service:
  port: 7111
  targetPort: 3111
  protocol: TCP
  type: ClusterIP

image:
  repository: 0906784480/techtrends 
  tag: latest
  pullPolicy: Always
  
replicaCount: 5

resources:
  request:
    memory: 128Mi
    CPU: 350M
  limits:
    memory: 256Mi
    CPU: 500M
containerPort: 3111
livenessProbe:
  path: /healthz
readinessProbe:
  path: /healthz
  
